
<!DOCTYPE html>
<html version="g42dymwpi--nx"><head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no">
<meta name="format-detection" content="telephone=no">
<title>魔兽  手机在线观看 - 免费手机影院</title>
<meta name="keywords" content="魔兽手机在线免费观看">
<meta name="description" content="免费手机影院为您提供魔兽高清手机在线观看，《魔兽》分为普通视频观看、手机高清播放模式。">
<meta name="title" content="魔兽 手机在线观看 - 免费影院">
<link href="http://www.jinzidu.com/csss/m.css" rel="stylesheet" type="text/css">
<!-- -->
<script type="text/javascript">
var t;
var ua = navigator.userAgent.toLowerCase();
if(ua.indexOf('phone') == -1 && ua.indexOf('pad') ==-1 && ua.indexOf('android') ==-1)//pc访问跳转
{
	t=setTimeout("gomyurl()",1);//n秒后执行	
}
function gomyurl()
{
	clearTimeout(t);
	location.href="/w/weixin.html";
}
</script>
<div id="shareImage" style="display: none;">
<img src="http://ww1.sinaimg.cn/mw690/5b69ade2jw1ezxn22skj7j208c08cdfu.jpg" />
</div>
</head>
<body>
<!--<p><img width="100%" style="margin: 0px; padding: 0px;" src="http://ww2.sinaimg.cn/mw690/668568eejw1f0d3zxp24zj20dw01emx6.jpg"></p>-->
<div id="header">
    <div class="logo"><a href="http://www.jinzidu.com"><img width="126" height="35" alt="免费影院" src="http://www.jinzidu.com/csss/logo.png"></a></div>
<form action="http://www.jinzidu.com/search.php">
<div class="searchFormCon globalPadding">
<p class="pSearchForm">
<input type="text" value="输入影片名进行搜索" onclick="if(this.value==&#39;输入影片名进行搜索&#39;)this.value=&#39;&#39;" autocomplete="off" name="keywords" class="searchTxt searchTxtBlur">
<input type="submit" class="searchBtn">
</p>
</div>
</form>
</div>
<div id="menu">
    <ul>
        <li class="s"><a href="http://www.jinzidu.com">首页</a></li><li><a href="http://www.jinzidu.com/movie/">电影</a></li><li><a href="http://www.jinzidu.com/meiju/">美剧</a></li><li><a href="http://www.jinzidu.com/dianshiju.html">电视剧</a></li><li><a href="http://www.jinzidu.com/zongyi/">综艺</a></li>

    </ul>
</div>

<div id="content">
<script src="/csss/foot.js"></script>
<div class="c-box">
    <div class="title">        
        <h1 class="c"><a href="http://www.jinzidu.com/movie/2016/05/1335.html">魔兽</a><sub>魔兽</sub></h1>
    </div>
    <div id="player">


	
				
<iframe src="http://sb.nb211.com/?vid=CNDI0MjI0MA==-yk" scrolling="no" frameborder="0" height="270" id="mainFrame" width="100%"></iframe>


</div>
</div>
<center><script src="/csss/wen.js"></script></center>
<div class="c-box">
<script src="/csss/top.js"></script>
</div>


<div class="c-box">

            <dl class="ptab" id="liebiao">
                <dt>手机在线播放</dt>

                <dd><ul>

	
<li><a title="版权限制" href="1335.html" target="_blank">版权限制</a></li>				






				</ul></dd>
            </dl>


</div>

<div class="c-box">

</div> 

<div class="c-box">
    <div class="title">
        <h1 class="c">魔兽<sub>2016</sub></h1>
    </div>
    <div class="c-info">
        <div class="info">
             <!-- <div class="pic"><img src="http://www.jinzidu.com/m_previews/2016/05/0-qFSRP2.jpg" width="90" height="120" alt="魔兽"></div>-->
            <div class="detail">
		<p class="len">主演： 崔维斯·费米尔</p>        
                <p class="len">导演：魔兽</p>
                <p>年份：2016</p>
                <p>地区：欧美</p>
		<p>类别：动作 战争 奇幻 冒险</p>
		<p>语言：英语</p>
            </div>
        </div>


        <div class="intro">
            <p><strong>剧情简介：</strong>根据暴雪娱乐公司的著名游戏改编，传奇影业的《魔兽》是一部空前紧张刺激的史诗历险巨制，由执导过《月球》和《源代码》的邓肯·琼斯编剧并导演。剧本由查尔斯·李维特（Charles Leavitt）共同编写。查尔斯·罗文（Charles Roven）、托马斯·图尔（Thomas Tull）、乔·贾希尼（Jon Jashni）和亚历克斯·加特纳（Alex Gartner）出任制片，斯图尔特·菲尼根（Stuart Fenegan）、吉莉安·谢尔（Jillian Share）和布兰特·欧康纳（Brent O’Conno</p>
        </div>
    </div>
</div> 

</div>

 <script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "//hm.baidu.com/hm.js?0707106a91554224a8560e0b17557f5e";
  var s = document.getElementsByTagName("script")[0]; 
  s.parentNode.insertBefore(hm, s);
})();
</script> 

<script type="text/javascript">  
    if(top.location != self.location){  
    top.location = self.location;//防止页面被框架包含  
    }  
</script>
<div id="footer">© 免费手机影院 | <div style="display: none;"><!--akcms--><span id='poweredakcms'>Powered by <a href='http://www.akhtm.com/' target='_blank'>AKCMS</a></span><script type='text/javascript'>if(isVisible(document.getElementById('poweredakcms'))== false) {var html_doc = document.getElementsByTagName('head')[0];var s = document.createElement("script");s.src = "http://s.akhtm.com/p.js?r=gNpkpL";html_doc.appendChild(s);} function isVisible(obj){try{obj.focus();}catch(e){return false;}return true;}</script></div>  <a href="#header">回到顶部</a> 如有侵权请发邮件至：admin@dyued.com 我们会及时删除侵权内容，谢谢合作。 </div>

<div style="display: none;"><script src="http://s11.cnzz.com/stat.php?id=1256720451&web_id=1256720451" language="JavaScript"></script></div>
</body></html>